{% extends 'base.html' %}


{% block title %}
<title>About shop</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1>As a company we take pride in our role in urban fashion, music, and culture, but we are most proud of our efforts in giving back to the communities that show us so much love! Our Community Outreach department teams up with our brand partners, non-profit organizations, government officials, and local influencers to collaborate in providing resources and opportunities in communities that need.
Whether it’s through programming of our own or sponsoring those making a difference in the communities we serve; BD Community Outreach is constantly “Best Dailiness” and challenging others to join us!</h1>
</div>
{% endblock %}