{% extends 'home.html' %}


{% block title %}
<title>Affiliate Program</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1>Join The BD Affiliate Program</h1>

    <h7>Make Money With Your Website By Referring Sales To DTLR
        Start Earning Commission When You Become An Affiliate Of DTLR, The Leader In Sneaker And Related Apparel.</h7>

    <h3>Affiliate Program Opportunity</h3>

        <h6>6% Commission</h6>

        <h6>30-Day Cookie</h6>

        <h6>Affiliate Exclusive Promotions</h6>

        <h6>Bonus Earning Opportunities</h6>


    <h3>How It Works</h3>

        <h6>You Drive Traffic To BD Through Special Links That Allow Us To Track Sales And Other Referral Activity.</h6>

        <h6>Fees Are Paid On All Qualifying Revenue Made Through BD Affiliate Links.</h6>

        <h6>We Send You Monthly Payments Via The Network’s Reporting System.</h6>

        <h6>Once You Join The Program, You Have Access To Links;
            Our Product Feed, And Promotions, Performance Reporting And
            Other Tools That Will Help You Build Your Links And Increase Your Revenue.</h6>

    
</div>
{% endblock %}