{% extends 'home.html' %}


{% block title %}
<title>Affiliate Program</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1>WHAT WE OFFER OUR EMPLOYEES</h1>

        <h6>On-the-job Training</h6>

        <h6>Employee Assistance Program</h6>

        <h6>Career Succession Programs</h6>

        <h6>Potential for Advancement</h6>

        <h6>Generous Employee Discount</h6>

        <h6>Competitive Starting Salary</h6>

        <h6>Bonus Plans</h6>

        <h6>Health Insurance</h6>

        <h6>Dental Insurance</h6>

        <h6>Vision Insurance</h6>

        <h6>Short Term and Long Term Disability Insurance</h6>

        <h6>Life and AD&D Insurance</h6>

        <h6>Vacation Package</h6>

        <h6>Direct Community Involvement Opportunities</h6>

        <h6>Scholarship Program & Tuition Rewards Program</h6>

    
</div>
{% endblock %}