{% extends 'home.html' %}


{% block title %}
<title>Contact us</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1>ONLINE CUSTOMER SERVICE</h1>

    <h4> 8447094552</h4>
    <h3>custserv@bd.com</h3>

        <h4>Hours (EST):</h4>
        <h6>Monday - Friday: 8 AM - 8 PM</h6>
        <h6>Saturday: 9 AM - 2 PM</h6>

    <h5>STORE SUPPORT</h5>

    <h6>Our Store Support is home to everyone from business operations to community relations.</h6>

    <h6>1300 Mercedes Dr
    Hanover, MD 21076</h6>

</div>
{% endblock %}