{% extends 'home.html' %}


{% block title %}
<title>RETURNING</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1>RETURNS POLICY</h1>

    <h7>BD wants you to be fully satisfied with your purchase. If you are not satisfied with your purchase, you have 30 days from the date on your receipt to request a full refund of the purchased price. Returns will only be accepted if items are in a new and unused condition with the original packaging and tags.</h7>
    <h3>HOW TO PROCESS AN ONLINE RETURN</h3>

        <h4>One</h4>
        <h6>Package item(s) in original packaging along with the invoice that was in the box.</h6>

        <h4>Two</h4>
        <h6>If you do not have your invoice, please include a piece of paper with your name, address, phone number and email that you used to place the order.</h6>

        <h4>Three</h4>
        <h6>Go to your local post office or shipping facility to ship your order.</h6>
        <h6>BD</h6>
        <h7>ATTN: Returns
            410 Corporate Drive
            Building #4
            Muhlenburg PA 19605</h7>

    <h6>Please email custserv@bd.com your return tracking number so they can ensure your refund gets processed promptly.</h6>
    <h6>Returns will be processed within 48 hours once it is received into our warehouse.

    Allow up to 10 business days for your money to be refunded back to your card which is dependent upon your bank.</h6>
    
</div>
{% endblock %}