{% extends 'home.html' %}


{% block title %}
<title>SHIPPING</title>
{% endblock %}


{% block body %}
<div class="container">
    <h1>SHIPPING</h1>

    <h5>All my items didn't ship, and I received a partial refund</h5>

    <h6>BD strives to fill all orders 100%.
        If BD can’t fulfill your entire order we will refund you for the
        items that have not shipped. PayPal orders will be refunded to your PayPal account.
        Credit card orders will be refunded back to your card.</h6>

    <h5>I just placed an order. How long before it will be shipped?</h5>

    <h6>Orders are shipped via USPS or UPS depending on the shipping option that was picked.
        We ship Monday through Friday from our warehouse in Pennsylvania and we do our best to process orders
        within 2 business days of ordering.
        We do reserve the right to hold and confirm an order if we believe there is indication of inaccurate information.
        Typical shipping times for basic UPS shipping ranges from 2 to 5 business days while USPS will take 4 to 8 business days.
        UPS 2-Day will take 3 business days and UPS Next Day will take 2 business days.
        Not every shipping option is available for every destination.
        We do ship to Hawaii and Alaska however air shipping rates will apply.</h6>


    <h5>How do I check the status of my order?</h5>

    <h6>You can check the status of you order by logging into your account.
        If you have any questions about your order you can contact customer service at custserv@dtlr.com
        or call us at 844-788-4552 during our normal business hours.</h6>

    <h5>Ship to Store</h5>

    <h6>Choose the "Ship to Store" option and pick a store destination to have your
        order shipped ground for FREE to a BD location.
        You will be notified when your items arrive and they will be held for you to pickup.</h6>

    <h6>Ship to Store orders must be picked up within 21 days upon store delivery.
        When your order is ready for pickup you will receive an email with your pickup PIN.
        It is required to show both your photo ID and PIN to receive your online purchased order in store.</h6>


</div>
{% endblock %}